# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=TRUE
DJANGO_PORT=8000

# PostgreSQL settings
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your-db-password-here
DB_HOST=db  # Use 'db' as the host within Docker network
DB_PORT=5432

# Redis settings
REDIS_HOST=redis  # Use 'redis' as the host within Docker network
REDIS_PORT_NUMBER=6379
REDIS_PASSWORD=your-redis-password-here

# RabbitMQ settings
RABBITMQ_HOST=rabbitmq  # Use 'rabbitmq' as the host within Docker network
RABBITMQ_PORT_NUMBER=5672
RABBITMQ_MANAGEMENT_PORT_NUMBER=15672
RABBITMQ_USER=your-rabbitmq-user-here
RABBITMQ_PASSWORD=your-rabbitmq-password-here
